# Example credentials file for streamlit-authenticator
# Copy this to credentials.yaml and update with your actual credentials
# credentials.yaml will be ignored by git for security

credentials:
  usernames:
    team1:
      email: team1@university.edu
      name: Team 1
      password: $2b$12$kEz1VhznDJRWN4pTuZkV7eIQ6qZi6yNNvWe/fLUCZhztG4ydT5SLy  # password123
    team2:
      email: team2@university.edu
      name: Team 2  
      password: $2b$12$kEz1VhznDJRWN4pTuZkV7eIQ6qZi6yNNvWe/fLUCZhztG4ydT5SLy  # password123
    team3:
      email: team3@university.edu
      name: Team 3
      password: $2b$12$kEz1VhznDJRWN4pTuZkV7eIQ6qZi6yNNvWe/fLUCZhztG4ydT5SLy  # password123

cookie:
  name: airline_sim_auth
  key: your-secret-cookie-key-min-32-chars  # Change this!
  expiry_days: 30

preauthorized: []

# To generate new password hashes:
# import streamlit_authenticator as stauth
# stauth.Hasher(['your_password']).generate()[0]